**/packages/
**/bin/
**/obj/
**/pkgobj/
*.nupkg
**/.vs/
src/Samples/MVC5/**/config/Web.SP.Online.config
src/Samples/MVC5/**/config/Web.SP.Onprem.IIS.config
src/Samples/MVC5/**/config/Web.SP.Onprem.IISExpress.config