@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>SP Addin Owin</h1>
	<p class="lead">SharePoint Addin with Owin authentication middleware</p>
	<p><a href="http://asp.net" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>
